body {
  font-family: sans-serif;
}

button:hover {
  font-weight: bold;
}

input:focus {
  box-shadow: none !important;
  border-color: black !important;
}

hr {
  margin-top: 60px !important;
  margin-bottom: 40px !important;
  color: #888888 !important;
}

.search {
  width: 40px;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
}

.search-icon {
  font-size: 20px;
  transition: all 180ms ease-in-out;
  color: #888888;
}

.search-icon:hover {
  transform: scale(1.2);
  color: black;
}

.emoji {
  font-size: 90px;
}

.temperature {
  font-size: 60px;
  font-family: Helvetica, sans-serif;
  margin-top: -20px;
}

.location {
  font-size: x-large;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  color: black;
}

.weather-data,
.date {
  font-size: small;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  color: #888888;
}

.location-icon,
.date-icon {
  width: 20px;
  text-align: center;
  color: #aeaeae;
}

.btn {
  font-size: 14px !important;
}

.weekday-list {
  font-size: 16px;
  font-weight: 500;
}

.day-list {
  font-size: 12px;
  font-weight: 300;
  color: #888888;
  margin-bottom: 0;
}

.temperature-max {
  font-size: 12px;
  font-weight: bold;
}

.temperature-min {
  font-size: 12px;
  font-weight: normal;
  color: #888888;
  margin-left: 4px;
}

.emoji-list {
  justify-content: center;
  align-content: center;
  width: 45px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.button-temp {
  border: none;
  background: transparent;
}

.btn-check:focus,
.btn:focus {
  font-weight: 900;
  box-shadow: none !important;
}

.footer {
  font-size: small;
}

.weather-description {
  text-transform: capitalize;
}

/* .forecast {
  justify-content: center;
} */
